

.bloco-todos {
    margin-top: 5%;
    border: 2px solid rgb(16, 30, 65);
    width: 40%;
    height: auto;
    gap: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgb(70, 62, 115);
    padding: 2%;
    font-size: 1.2em;

}

.bloco-todos:hover {
  transform: scale(1.03);
}

h2, p {
    color:rgb(34, 85, 188);
    width: 60%;
    margin-top: 2%;
}



.bloco1, .bloco2, .bloco3 {
    background-color: rgba(149, 145, 141, 0.468);
    border-radius: 6px;
    transition:background 0.4s ease-in-out;
    padding: 3%;
    box-shadow: 0 0 7px rgb(70, 62, 115);
    margin-bottom: 20px;
}

.bloco1:hover, .bloco2:hover, .bloco3:hover{
    background-color:  rgba(71, 63, 56, 0.395);
}

.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
}